.container-edit{
  display: flex;
  justify-content: center;
}

.invoice-form{
  display: flex;
  flex-direction: column;
}

mat-card{
  width: 1500px;
  margin: 20px;
  padding: 20px;
  border-radius: 4px;
  box-shadow: 0 2px 4px rgb(0, 0,0,0.1);
}


mat-card-title{
  font-size: 24px;
  font-weight: bold;
  margin-bottom: 10px;
}

table {
  width: 100%;

}

